@tailwind base;
@tailwind components;
@tailwind utilities;

/* Optional background gradient for body */
body {
  @apply bg-gradient-to-b from-[#050010] via-[#0e041f] to-[#0a0013] text-white font-sans;
  scroll-behavior: smooth;
}


::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-thumb {
  background: #a855f7;
  border-radius: 6px;
}

/* Scroll snap settings for full-screen sections */
main {
  scroll-snap-type: y mandatory;
  height: 100vh;
  overflow-y: scroll;
}

/* Apply to each section */
section {
  scroll-snap-align: start;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
